@charset "utf-8";

$h-txt-color: #95ccff;
$txt-color: rgb(110, 110, 110);
$border-color: #95ccff;

@mixin disp-btn-attr($back: linear-gradient(to bottom, #fff 0, #f4f4f4 100%)) {
    color: #fff;
    font-weight: bold;
    border: 3px solid $border-color;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background: #9ccfff;
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
    transition: 0.5s;

    &:hover {
        filter: alpha(opacity=80);
        opacity: 0.8;
    }
}

@mixin fade-in() {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@mixin fade-out() {
    animation-name: fade-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100vw);
    }
}

html {
    overflow-y: scroll;
}

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
    font-size: 14px;
    color: $txt-color;
    overflow-x: hidden;
}

main {
    margin: 20px;
    position: relative;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: $h-txt-color;
}

section {
    position: relative;
    margin: 30px 0;
    padding: 20px 5px 10px 5px;
    border: solid 3px $border-color;
    border-radius: 8px;

    h2 {
        position: absolute;
        display: inline-block;
        top: -10px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 19px;
        background: #FFF;
        color: $h-txt-color;
        font-weight: bold;
    }
}

p {
    line-height: 1.5;
    margin-bottom: 10px;
}

button {
    @include disp-btn-attr();
}

input {
    transition: 0.5s;

    &::placeholder {
        color: #a8a8a8;
    }
}

input[type="text"] {
    width: 80%;
    padding: 0 7px;
    background-color: #f7fbff;
    border: $border-color 1px solid;
    border-left: $border-color 5px solid;
    border-radius: 0 30px 30px 0;
}

.chk-basic-no:checked~.basic-input-area input[type="text"] {
    pointer-events: none;
    color: transparent;
    background-color: rgb(236, 236, 236);
}

.basic-input-area {
    margin-top: 20px;
    transition: 0.5s;
}

.result-area {
    margin-top: 20px;

    p {
        border-bottom: solid $border-color 1px;
        @include fade-in()
    }
}

.loading {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    // display: flex;
    justify-content: center;
    align-items: center;
    @include fade-in();
}

.alert-area {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        @include fade-in();
        padding: 2vw;
        background-color: rgba($color: $border-color, $alpha: 0.8);
        color: #fff;
        border-radius: 30px;

        &.fade-out {
            @include fade-out();
        }
    }
}