@charset "UTF-8";
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100vw);
  }
}

html {
  overflow-y: scroll;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 14px;
  color: #6e6e6e;
  overflow-x: hidden;
}

main {
  margin: 20px;
  position: relative;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #95ccff;
}

section {
  position: relative;
  margin: 30px 0;
  padding: 20px 5px 10px 5px;
  border: solid 3px #95ccff;
  border-radius: 8px;
}

section h2 {
  position: absolute;
  display: inline-block;
  top: -10px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 19px;
  background: #FFF;
  color: #95ccff;
  font-weight: bold;
}

p {
  line-height: 1.5;
  margin-bottom: 10px;
}

button {
  color: #fff;
  font-weight: bold;
  border: 3px solid #95ccff;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background: #9ccfff;
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
  transition: 0.5s;
}

button:hover {
  filter: alpha(opacity=80);
  opacity: 0.8;
}

input {
  transition: 0.5s;
}

input::placeholder {
  color: #a8a8a8;
}

input[type="text"] {
  width: 80%;
  padding: 0 7px;
  background-color: #f7fbff;
  border: #95ccff 1px solid;
  border-left: #95ccff 5px solid;
  border-radius: 0 30px 30px 0;
}

.chk-basic-no:checked ~ .basic-input-area input[type="text"] {
  pointer-events: none;
  color: transparent;
  background-color: #ececec;
}

.basic-input-area {
  margin-top: 20px;
  transition: 0.5s;
}

.result-area {
  margin-top: 20px;
}

.result-area p {
  border-bottom: solid #95ccff 1px;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.loading {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.alert-area {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-area p {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  padding: 2vw;
  background-color: rgba(149, 204, 255, 0.8);
  color: #fff;
  border-radius: 30px;
}

.alert-area p.fade-out {
  animation-name: fade-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
